<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h2>About</h2>
        <div class="row">

            <div class="col-lg-6">

                <p>My name is Jesse Jones and I am a Full-stack Front-end .Net/Javascript Software developer. Since I was l
                    was 14 years old I have been studying software development, and I have always loved working with computers.
                </p>

                <p>Since then, I have had a few web development classes in high school, and as of August of 2017, I took my
                    education into my own hands and enrolled myself in a coding bootcamp.
                </p>

                <p> I am a graduate of CoderCamps Bootcamp, with training and coursework focused on Full-stack development. Working
                    in a bootcamp really deepend my understanding of the development world, and allowed me to cultivate a
                    real passion for development as a whole. I love working on front-end user experiences as well. Not to
                    mention I have a real strength with quickly learning new technologies and adapting to a fast-pace work
                    environment. </p>

                <p>After graduation, I was hired as a web developer at ITTIER Digital.</p>

                <p>I really enjoy working with technology, but I’ve grown a lot since I first started my coursework and I feel
                    as though I am ready for the next challenge.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>