<h2>Skills
</h2>
<h1></h1>

My main expertise is front end and back end web development.
<div>
    <div id="myCanvasContainer">
        <canvas width="300" height="300" id="myCanvas">
            <p>Replaced Text</p>
        </canvas>
    </div>
    <div id="tags">
        <ul>
            <li>
                <a href="http://www.google.com" target="_blank">Google</a>
            </li>
            <li>
                <a href="/fish">AngularJS</a>
            </li>
            <li>
                <a href="/chips">JavaScript</a>
            </li>
            <li>
                <a href="/salt">C#</a>
            </li>
            <li>
                <a href="/vinegar">Python</a>
            </li>
            <li><a href="/"></a></li>
        </ul>
    </div>

    
