<div>
    <h1 id="skillsTitle">Skills</h1>
    <div class="row" id="hrID">
        <div class="col-lg-6">
            <p class="skillText">My main expertise is front end and back end web development.</p>
            <div class="row">
                <div class="col-lg-3">
                    <ul>
                        <h5>
                            <u> Front End:</u>
                        </h5>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                        <li>AngularJS</li>



                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="listClass">
                        <h5>
                            <u>Back-end:</u>
                        </h5>
                        <li>Amazon Web Services</li>
                        <li>Node.JS</li>
                        <li>Microsoft Azure</li>
                        <li>REST API</li>
                    </ul>
                </div>
            </div>





        </div>
        <div class="col-lg-6">
            <div id="myCanvasContainer">
                <canvas width="600" height="400" id="myCanvas">
                    <p>Replaced Text</p>
                </canvas>
            </div>
            <div id="tags">
                <ul>
                    <li>
                        <a href="/">C++</a>
                    </li>
                    <li>
                        <a href="/">AngularJS</a>
                    </li>
                    <li>
                        <a href="/">JavaScript</a>
                    </li>
                    <li>
                        <a href="/">C#</a>
                    </li>
                    <li>
                        <a href="/">Python</a>
                    </li>
                    <li>
                        <a href="/">BootStrap</a>
                    </li>
                    <li>
                        <a href="/">HTML5</a>
                    </li>
                    <li>
                        <a href="/">Node.js</a>
                    </li>
                    <li>
                        <a href="/">ASP.NET MVC</a>
                    </li>
                    <li>
                        <a href="/">SQL</a>
                    </li>
                    <li>
                        <a href="/">CSS3</a>
                    </li>
                    <li>
                        <a href="/">Three.js</a>
                    </li>
                    <li>
                        <a href="/">Knockout.js</a>
                    </li>
                    <li>
                        <a href="/">Amazon Web Services</a>
                    </li>
                    <li>
                        <a href="/">Bower</a>
                    </li>
                    <li>
                        <a href="/">REST</a>
                    </li>
                    <li>
                        <a href="/">jQuery</a>
                    </li>
                    <li>
                        <a href="/">JSON</a>
                    </li>
                    <li>
                        <a href="/">npm</a>
                    </li>
                    <li>
                        <a href="/">Canvas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>