
body {
  background: #343434;
  color:white;
}
.selfimg {
    height:100%;
    width:100%;
}
img{
    height: 10%;
    width: 10%;
}
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
 }
 #brandImg {
     height: 50px;
     width: 50px;
 }

 .view.ng-enter {
    transition:1s linear all;
    opacity:0;
}

.view.ng-enter-active {
    opacity: 1;
}

.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  .loading-message{
    font-family: 'Tangerine', cursive;
  }
.btn-link {
  border: solid 0.5px gold;
  color: gold;
}
.listClass {
  border-left: solid 0.5px gold;
}
#homeRow {
  padding-top: 10px;
}
.fa-github-square, .fa-linkedin {
  font-size: 1em;
}
.fa-github-square:hover {
  color: red;
}
.fa-linkedin:hover {
  color: #0077b5;
}
.fa-github-square {
  padding-right:10px
}

#Title2 {
  color:grey;
}
#homeLink, #aboutLink, #skillsLink  {
  border-right: 1px solid red;
}
#aboutTitle{
  color:red;
  padding-left:10px;
}